/* ====== HEADER ====== */
@font-face {
 font-family: 'fonte3';
 src: url(fonte3/Garet-Book.ttf);
}
.header {
 background-color: #ffffff;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 padding: 20px 40px;
 flex-wrap: wrap;
 position: relative;
}
.destaque{ color: #8db86d; }
.menu {
 display: flex;
 list-style: none;
 align-items: center;
 gap: 20px;
 margin-left: auto;
}
.logo { width: auto; height: 18em; object-fit: cover; }
.menu button {
 background-color: rgb(255, 255, 255);
 color: #163821;
 border: none;
 padding: 10px 35px;
 border-radius: 100px;
 cursor: pointer;
 font-size: 0.9em;
 transition: background-color 0.3s ease;
 font-family: 'fonte3';
 font-weight: 800;
}
.menu button:hover { background-color: rgb(239, 236, 236); }
/* ====== CONTEÚDO ====== */
.container {
  background: linear-gradient(to bottom right, #163125, #649b68);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.quadrado {
  background-color: #ffffff;
  border-radius: 40px;
  width: 90%;
  max-width: 460px;
  padding: 50px 30px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease;
}
.quadrado:hover {
  transform: translateY(-5px);
}

/* título */
.titulo h2 {
  color: #164826;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: 'fonte3';
}
.titulo h2 span {
  color: #A2B792;
}

/* campos do formulário */
.campo {
  background-color: #B8C5B5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-family: 'fonte3';
}
.campo img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.campo input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #164826;
  font-family: 'fonte3';
}

/* botão */
.botao_entrar input {
  background-color: #375140;
  color: #fff;
  font-family: 'fonte3';
  border: none;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.botao_entrar input:hover {
  background-color: #2a3d32;
}

/* ====== FOOTER ====== */
.footer {
 background-color: #1A2A1F;
 color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 40px;
 width: 100%;
 box-sizing: border-box;
 overflow-x: hidden;
 position: relative;
 font-family:'fonte3';
 left: 0;
}
.footer-coluna {
 flex: 1;
 min-width: 200px;
 margin: 10px;
}
.footer-coluna p,
.footer-coluna b {
 margin: 5px 0;
 text-align: left;
 margin-left: 8px;
}
html, body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}
.imagens_rodape img{
 width: 50px;
 height: auto;
}
.imagens_rodape{
 display: flex;
 gap: 0.5%;
 justify-content: flex-start;
}
#logoBtn1 {
  position: absolute;
  top: -55%;
  left:-2%;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#logoBtn1:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 340px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    margin-top: 10px;
}

.empresa {
    width: 120px;
    height: 120px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.empresa:hover {
    transform: scale(1.05);
}

.empresa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}