/* ===== FONT ===== */
@font-face {
 font-family: 'fonte3';
 src: url(fonte3/Garet-Book.ttf);
}
/* ===== HEADER (MESMO DO NOTIFICAÇÕES) ===== */
.header {
 background-color: #ffffff;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100px;
 padding: 20px 40px;
 flex-wrap: wrap;
 position: relative;
}
.destaque { color: #8db86d; }
.menu {
 display: flex;
 list-style: none;
 align-items: center;
 gap: 20px;
 margin-left: auto;
}
.logo { width: auto; height: 15em; object-fit: cover; }
.menu button {
 background-color: rgb(255, 255, 255);
 color: #1B512D;
 border: none;
 padding: 10px 35px;
 border-radius: 100px;
 cursor: pointer;
 font-size: 0.9em;
 transition: background-color 0.3s ease;
 font-family: 'fonte3';
 font-weight: 800;
}
.menu button:hover { background-color: rgb(239, 236, 236); }
/* ===== CONTEÚDO PERFIL ===== */
.main {
 background:linear-gradient(to bottom right, #163125, #649b68);
 padding: 60px 20px 80px;
 text-align: center;
 font-family: 'fonte3';
}
.perfil-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 max-width: 500px;
 margin: 0 auto;
}
.foto-perfil img {
width: 180px;
   height: 180px;
   border-radius: 80%;
   background-color: #ffffff;
   margin-bottom: 25px;
   object-fit: contain;
   border: 5px solid #d4e4d0;
   box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.perfil-container input {
 width: 100%;
 padding: 20px 40px;
 border: none;
 border-radius: 30px;
 font-family: 'fonte3';
 font-weight: 800;
 font-size: 1em;
 background-color: #ffffff;
 color: #1B512D;
}
.perfil-container button {
 background-color: #1B512D;
 color: white;
 border: none;
 border-radius: 50px;
 padding: 22px 40px;
 font-family: 'fonte3';
 font-size: 1.1em;
 cursor: pointer;
 margin-top: 20px;
 transition: 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}
.perfil-container button:hover {
 background-color: #163821;
 transform: scale(1.02);
 }
/* ===== BOTÕES DE TIPO DE CONTA ===== */
.tipo-conta {
 width: 100%;
 text-align: center;
 margin-top: 10px;
}
.tipo-conta p {
 font-weight: bold;
 color: #ffffff;
 margin-bottom: 10px;
 text-align: start;
}
.botoes-tipo {
 display: flex;
 justify-content: center;
 gap: 20px;
}
.botoes-tipo button {
 background-color: #f6f6f0;
 color: #1B512D;
 border: 2px solid #ffffff;
 border-radius: 50px;
 padding: 18px 40px;
 font-family: 'fonte3';
 cursor: pointer;
 transition: all 0.3s;
 font-weight: 600;
}
.botoes-tipo button:hover {
 background-color: #1B512D;
 color: white;
}
.botoes-tipo button.selecionado {
 background-color: #1B512D;
 color: white;
}
.perfil-container button {
 background-color:white;
 color: #1f5230;
 border: none;
 border-radius: 50px;
 padding: 18px 105px;
 font-family: 'fonte3';
 font-size: 1.1em;
 cursor: pointer;
 margin-top: 20px;
 transition: background-color 0.3s;
}
.perfil-container .editar {
 background-color: #1B512D; /* verde escuro */
 color: white;              /* texto branco */
 border: none;
 border-radius: 50px;
 padding: 18px 105px;
 font-family: 'fonte3';
 font-weight: 800;
 font-size: 1.1em;
 cursor: pointer;
 margin-top: 20px;
 transition: background-color 0.3s, transform 0.3s ease;
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.perfil-container .editar:hover {
 background-color: #163821; /* verde mais escuro no hover */
 transform: scale(1.02);}
.perfil-container button:hover {
 background-color: #163821;
}
.editar button{
   font-weight: 800;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease;
}
.quadrado:hover {
  transform: translateY(-5px);
}
/* ===== FOOTER (MESMO DO NOTIFICAÇÕES) ===== */
.footer {
 background-color: #1A2A1F;
 color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 40px;
 width: 100%;
 box-sizing: border-box;
 overflow-x: hidden;
 position: relative;
 font-family:'fonte3';
 left: 0;
}
.footer-coluna {
 flex: 1;
 min-width: 200px;
 margin: 10px;
}
.footer-coluna p,
.footer-coluna b {
 margin: 5px 0;
 text-align: left;
 margin-left: 8px;
}
html, body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}
.imagens_rodape img{
 width: 50px;
 height: auto;
}
.imagens_rodape{
 display: flex;
 gap: 0.5%;
 justify-content: flex-start;
}
#logoBtn1 {
  position: absolute;
  top: -38%;
  left: 1%;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#logoBtn1:hover {
  transform: scale(1.05);
  opacity: 0.9;
}