  /* ====== HEADER ====== */
   @font-face {
    font-family: 'fonte3';
    src: url(fonte3/Garet-Book.ttf);
   }
   .header {
     background-color: #ffffff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     padding: 20px 40px;
     flex-wrap: wrap;
     position: relative;
   }

   .destaque{
    color: #8db86d;
   }
   .menu {
     display: flex;
     list-style: none;
     align-items: center;
     gap: 20px;
     margin-left: auto;
   }
   .logo { width: auto; height: 15em; object-fit: cover; }
   .menu button {
     background-color: rgb(255, 255, 255);
     color: #1B512D;
     border: none;
     padding: 10px 35px;
     border-radius: 100px;
     cursor: pointer;
     font-size: 0.9em;
     transition: background-color 0.3s ease;
     font-family: 'fonte3';
     font-weight: 800;
   }

   .menu button:hover {
     background-color: rgb(239, 236, 236);
   }

   /*  CONTEÚDO PRINCIPAL */
   /*  BLOCO INICIAL  */
.section-intro {
 background-color: #ffffff;
 padding: 50px 0 60px;
 position: relative;
 overflow: hidden;
}
.intro-wrapper {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 1300px;
 margin: auto;
 gap: 50px;
}
.intro-text {
 flex: 1;
 text-align: justify;
 color: #222;
 font-family: 'fonte3';
 margin-left: 50px;
}
.intro-text h2 {
 flex: 1;
 text-align: justify;
 color: #265e2d;
 font-family: 'fonte3';
}
/* IMAGEM ACIMA DO RETÂNGULO */
.forma {
 width: 600px;
 height: 390px;
 background-color: #87be6d;
 border-radius: 300px 0 0 300px;
 display: flex;
 flex-direction: column; /* imagem em cima, conteúdo abaixo */
 align-items: center;
 justify-content: flex-start;
 overflow: hidden; /* impede que a imagem ultrapasse a borda */
 position: relative;
}
.forma img {
 width: 70%;
 height: auto; /* ocupa a parte superior do retângulo */
 object-fit: cover;
 margin-right: 200px;
 
}

/* ===== SOBRE NÓS ===== */
.sobre-nos {
 text-align: center;
 color: #1B512D;
 padding: 60px 0 100px;
 width: 100%;
 background: linear-gradient(180deg, #1B512D 0%, #a8bea1 100%);
 position: relative;
 overflow: hidden;
}
/* ===== CONTAINER ===== */
.missao-visao-container {
 display: flex;
 justify-content: center;
 gap: 40px;
 flex-wrap: wrap;
 margin: 60px auto 50px;
}
/* ===== ANIMAÇÃO SUAVE ===== */
@keyframes fadeUp {
 from {
   opacity: 0;
   transform: translateY(15px);
 }
 to {
   opacity: 1;
   transform: translateY(0);
 }
}
/* ===== CARDS MISSÃO / VISÃO ===== */
.card-missao, .card-visao {
 background: #ffffff;
 border-radius: 35px;
 width: 400px;
 height: 320px;
 box-shadow: 0 5px 15px rgba(0,0,0,0.15);
 overflow: hidden;
 position: relative;
 cursor: pointer;
 transition: transform 0.3s, box-shadow 0.3s;
 display: flex;
 justify-content: center;
 align-items: center;
}
.card-missao:hover, .card-visao:hover {
 transform: translateY(-8px);
 box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
/* ===== ÍCONES INICIAIS ===== */
.card-missao img, .card-visao img {
 width: 200px;
 height: 200px;
 transition: opacity 0.4s ease;
 z-index: 1;
}
/* ===== TEXTO OCULTO ===== */
.card-text {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 30px;
 background-color:#edede7;
 color: rgb(0, 0, 0);
 font-family:'fonte3' ;
 font-size: 14px;
 text-align: justify;
 opacity: 0;
 transition: opacity 0.4s ease;
 box-sizing: border-box;
}
.card-text h3 {
 text-align: center;
 margin-bottom: 10px;
 font-size: 1.6em;

 color:#1B512D;
}
.card-missao:hover .card-text,
.card-visao:hover .card-text,
.card-valores:hover .card-text {
 opacity: 1;
}
.card-missao img,
.card-visao img,
.icone-valores {
 display: block;
 margin: 0 auto;
 transition: opacity 0.4s ease;
}
.card-missao:hover img,
.card-visao:hover img,
.card-valores:hover .icone-valores {
 opacity: 0;
}
/* ===== CARD VALORES ===== */
.card-valores {
 position: relative;
 background: #ffffff;
 border-radius: 35px;
 width: 880px;
 height: 350px;
 margin: 40px auto 0;
 box-shadow: 0 8px 20px rgba(0,0,0,0.25);
 transition: transform 0.3s, box-shadow 0.3s;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}
.card-valores:hover {
 transform: translateY(-6px);
 box-shadow: 0 14px 30px rgba(0,0,0,0.3);
}
/* ÍCONE CENTRAL */
.icone-valores {
 width: 200px;
 height: 200px;
 z-index: 1;
 transition: opacity 0.4s ease;
}
/* TEXTO OCULTO DOS VALORES */
.card-valores .card-text {
 position: absolute;
 top: 0;
 left: 0;
 background-color:#edede7;
 color: rgb(0, 0, 0);
 padding: 50px;
 width: 100%;
 height: 100%;
 text-align: justify;
 opacity: 0;
 transition: opacity 0.4s ease;
 border-radius: 25px;
}
.card-valores .card-text h3 {
 text-align: center;
 margin-bottom: 20px;
 font-size: 1.6em;
 color: #1B512D;
}
.card-valores:hover .icone-valores {
 opacity: 0;
}
.card-valores:hover .card-text {
 opacity: 1;
 animation: fadeUp 0.4s ease;
}
   /* ====== FUNDADORAS ====== */
   .fundadoras {
     background-color:#edede7;
     ;
     padding: 10px 0;
     text-align: center;
     font-family:'fonte3';
     color: #222;
     line-height: 1.4;
     padding-bottom: 70px;
   }

   .fundadoras h2 {
      width: 800px; /* largura máxima do conteúdo */
  margin: 0 auto 15px; /* centraliza o bloco, mas o texto estará à esquerda */
  text-align: left; /* alinha o texto à esquerda */
  color: #1B512D;
  font-family:'fonte3';
  font-weight: bold;
  padding-bottom: 18px;
  padding-top: 30px;
   }

   .fundadoras-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 40px;
     padding-top: 10px;
     width: 100%;
   }

   .fundadoras p {
     text-align: justify;
     max-width: 800px;
     margin: 0 auto 15px;
   }

   .card {
    background: linear-gradient(135deg, #1B512D, #557657);
 color: #fff;
 border-radius: 25px;
 width: 235px;
 height: 320px;
 padding: 15px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
 position: relative;
 flex: 0 0 20px;
 margin-top: 60px;
 box-shadow: 0 4px 10px rgba(0,0,0,0.25);
 /* NOVO PARA EFEITO LEVANTAR */
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
 transform: translateY(-10px); /* sobe 10px */
 box-shadow: 0 12px 20px rgba(0,0,0,0.25); /* sombra mais intensa */
    border: 2px solid transparent;
    box-shadow: 0 8px 15px rgba(0,0.2,0.2,0.25), inset 0 0 5px rgba(255,255,255,0.1);

   }

   .card img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     object-fit: cover;
     margin-top: 10px;
     transition: transform 0.3s ease;
   }
   .card:hover img {
 transform: scale(1.05);
}

   .card p {

     margin: 0;
     font-size: 18px;
     font-weight: bold;
     font-family:'fonte3' sans-serif;
     color: white;
     text-align: center;
     padding-top: 20px;
     transition: color 0.3s ease, transform 0.3s ease;
   }
.card:hover p {
 color: #d8ead6;
 transform: translateY(-5px);
}

   /* ====== CONTEUDO 2 ====== */
   .conteudo2 {
     background-color: #edede7;
 box-shadow: 0 4px 15px rgba(0, 0.1, 0.1, 0.1);
     text-align: center;
     padding: 60px 20px;
     border-radius: 30px;
     margin: 60px auto;
     width: 70%;
     font-family:'fonte3';
     color: #222;
     line-height: 1.4;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
   }
.titulo h2{
    width: 50%; /* mesmo tamanho do card */
 margin: 60px auto -40px; /* centraliza e aproxima do card */
 text-align: center;
 color: #1B512D;
 font-family: 'fonte3', sans-serif;
 margin-left: 160px;
   }
   

   .conteudo2 p {
     text-align: justify;
     max-width: 800px;
     margin: 0 auto 15px;
     line-height: 1.4;
   }
  

   /* ====== FOOTER ====== */
    /*estiliza o rodape*/
 .footer {
  margin-bottom:  0;
 background-color: #1A2A1F;
 color: #ffffff;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 40px;
 width: 100%;
 box-sizing: border-box;
 overflow-x: hidden;
 position: relative;
 font-family:'fonte3';
 left: 0;
}
/*estiliza as palavras do rodape*/
.footer-coluna {
 flex: 1;
 min-width: 200px;
 margin: 10px;
}
.footer-coluna p,
.footer-coluna b {
 margin: 5px 0;
 text-align: left;
 margin-left: 8px;
 color: white;
}
html, body {
 margin: 0;
 padding: 0;
 overflow-x: hidden; /* impede rolagem lateral */
}
 .imagens_rodape img{
   width: 50px;
   height: auto;
 }
  .imagens_rodape{
   display: flex;
   gap: 0.5%;
   justify-content: flex-start;
  }
  #logoBtn1 {
  position: absolute;
  top: -38%;
  left: 2;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#logoBtn1:hover {
  transform: scale(1.05);
  opacity: 0.9;
}